<div class="modal fade" id="dorModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{type}} DORS</h5>
            </div>
            <div class="modal-body">
                Text
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-light border border-warning rounded" data-toggle="modal" data-target="#dorModal">{{type}} DORS
        <span class="badge badge-warning">{{itemCount}}</span>
    </button>
</div>