
    <div class="row mt-5 pt-5">
      <div class="col-4"></div>
      <div class="col-8">
        <div class="nav flex-column nav-pills">
          <app-dor-nav-item
            *ngFor="let category of categories"
            [category]="category"></app-dor-nav-item>
          <!-- <a routerLink="dorInfo" routerLinkActive="active" class="nav-link small">General Information</a>
          <a routerLink="dor1" routerLinkActive="active" class="nav-link small ">General Appearance</a>
          <a routerLink="dor2" routerLinkActive="active" class="nav-link small">Acceptance of Feedback</a>
          <a routerLink="dor3" routerLinkActive="active" class="nav-link small">Attitude Towards Police Work</a> -->
        </div>
      </div>
    </div>

