<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"  data-spy="affix">
  <a class="navbar-brand" routerLink="/dashboard">Field Training Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto" routerLinkActive="active">
    </div>
    <div class="nav-item dropdown" routerLinkActive="active" *ngIf="authLevel < 3">
      <a class="nav-link dropdown-toggle" 
          id="navbarDropdownMenuLink" 
          role="button"
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false" 
          style="color: white;">User Administration</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" [routerLink]="['/administration/users', {outlets: {'list': ['2'], 'person': ['none','2']}}]">Field Training Officers</a>
        <a class="dropdown-item" [routerLink]="['/administration/users', {outlets: {'list': ['3'], 'person': ['none','3']}}]">Recruit Officers</a>
        <a href="#" class="dropdown-item">Supervisors</a>
        <a href="#" class="dropdown-item">Administrators</a>
      </div>
    </div>
    <span class="navbar-text" *ngIf="currentUserName">
      {{currentUserName.displayName}}
    </span>
  </div>
</nav>
<!-- <ng-template #notAuthorized>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLInk="/">Field Training Manager</a>
  </nav>
</ng-template> -->
