
<img src="../../../assets/bg_Winter.jpg" alt="" class="bg">
<!-- <div class="mx-auto mt-4 bgImg" style="width: 200px;">
        <button class="btn btn-success" (click)="onLogin();">Login</button>
</div> -->

<div class="jumbotron">
    <h1 class="display-3">Welcome to FTManager</h1>
    <div class="lead">Denton Police Department Training Academy
        <hr class="my-4">
        <p>You must be logged in to use the program...</p>
        <p class="lead">
        <button class="btn btn-success" (click)="onLogin();">Login</button>
        
        </p>
    </div>
</div>

