<app-dors *ngIf="currentSection === 'dors'"></app-dors>
<app-eoprs *ngIf="currentSection === 'eoprs'"></app-eoprs>
<a *ngIf="currentSection ==='dors' && (authLevel === 2)" class="btn btn-success" style=" cursor: pointer; position: fixed; bottom: 50px; right: 50px; color: white;"
  (click)="onNew(currentSection)" role="button">New DOR
  <span style="margin-left: 10px;" class="fa fa-plus-square-o"></span>
</a>
<a *ngIf="currentSection ==='eoprs'" class="btn btn-success" style=" cursor: pointer; position: fixed; bottom: 50px; right: 50px; color: white;"
  (click)="onNew(currentSection)">New Report
  <span style="margin-left: 10px;" class="fa fa-plus-square-o"></span>
</a>